div.container-fluid {
  padding: 0;
  overflow: hidden; }

p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.4em;
  font-weight: lighter;
  color: #A9A9A9; }

h1 {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: #000000; }

h2 {
  color: #000000; }

#mainNavBar {
  padding-right: 4em; }

.icon-bar {
  background-color: #0C1035; }

#nav_logo {
  margin-left: 1.5em; }

a {
  color: #000000;
  font-family: "Oxygen", sans-serif;
  font-weight: 100; }

.screen {
  filter: sepia(1); }

#main_row {
  padding-left: 2em;
  padding-right: 2em; }

#sec_1 {
  margin-top: 8em; }
  #sec_1 #logo_main {
    margin-top: 3em;
    margin-left: 1em; }
  #sec_1 #main_row {
    margin-top: -8em; }
  #sec_1 .main-img {
    padding: 0; }
    #sec_1 .main-img img {
      margin: 0; }
  #sec_1 h1 {
    text-align: center; }
  #sec_1 p {
    margin-bottom: 2em;
    font-family: "Oxygen", sans-serif;
    font-size: 1.4em;
    font-weight: lighter;
    color: #A9A9A9; }
  #sec_1 #image_wrapper {
    padding: 0; }
  #sec_1 .info_box {
    margin-left: 2em;
    margin-right: 2em; }
    #sec_1 .info_box p {
      font-size: 1.2em;
      font-family: "Oxygen", sans-serif;
      font-weight: lighter; }
    #sec_1 .info_box h3 {
      color: #000000;
      font-weight: 200;
      font-family: "Oxygen", sans-serif; }

#sec_2 {
  margin-top: 3em;
  margin-bottom: 5em; }
  #sec_2 h1 {
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    font-size: 4em;
    color: #000000;
    margin-bottom: 0.5em; }
  #sec_2 img {
    padding: 0; }
  #sec_2 div .col-sm-6 {
    padding: 0; }
  #sec_2 h2 {
    margin-left: 1.5em; }
  #sec_2 p {
    margin-left: 1em;
    padding: 1.5em; }

.footer p {
  font-family: "Oxygen", sans-serif;
  color: #A9A9A9;
  font-size: 1em; }

.footer i {
  color: #000000; }

.footer #social_media {
  text-align: center;
  margin-top: 6em; }

#sec_3 {
  padding: 4em; }
  #sec_3 #contact {
    background-color: #000000;
    color: white;
    font-family: "Open Sans", sans-serif;
    border-radius: 0.5em;
    padding: 1em; }
  #sec_3 p {
    line-height: 1em; }
